<nav class="w-75 text-center align-items-center mx-auto my-3 " >
  <img class="avion" src="../../assets/avionligne.webp" alt="avion de ligne">
  <h1 class="text-shadow-10 text-center m-3">Airport Management</h1>

<section >
  <div class="align-items-center justify-items-center px-auto">

<div class="d-block w-75 align-items-start m-auto">
  <button [routerLink]="['/add']" class="btn btn-purple mx-2">Ajouter un vol</button>
  <button [routerLink]="['/home']" class="btn btn-purple mx-2">Voir les vols</button>
</div>
</div>
</section>
</nav>
